/* File: assets/css/poppins-font.css */

/* Poppins Regular 400 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* Path relatif: keluar dari folder 'css', masuk ke 'fonts/poppins' */
  src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

/* Poppins Medium 500 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

/* Poppins Semi-bold 600 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
}

/* Poppins Bold 700 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
}